button {
    display: inline-block;
    height: 610px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 627px;
}

#ROCK{
    background: url(https://cs.wellesley.edu/~mhardy2/protected/hw8/images/rock.png);
}

#PAPER{
    background: url(https://cs.wellesley.edu/~mhardy2/protected/hw8/images/paper.png);
}

#SCISSORS{
    background: url(https://cs.wellesley.edu/~mhardy2/protected/hw8/images/scissors.png);
}